@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
body{
    font-family: 'Poiret One',monospace;
    font-size: 1.18rem;
}
.headfont{
    font-family: 'Raleway',serif;
    font-weight: 200;
    font-size: 2.16rem;
}
.bold{
    font-weight: bold;
}

.rem12{
    font-size: 1.1rem;
}